@charset "EUC-KR";
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* main-image */
.main-image {
	position: absolute;
	width: 310px;
	height: 310px;
	left: 26%;
	top: 18.4%;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 25px;
	object-fit: cover;
}

.title {
	width: 499px;
	height: 48px;
	position: absolute;
	left: 51.1%;
	top: 18.4%;
	font-family: GmarketSansBold;
    font-style: normal;
	font-size: 48px;
	font-weight: normal;
	letter-spacing: -2.16px;
	text-align: center;
	color: #000;
	top: 18.4%;
}

.menuframe {
	width: 249px;
	height: 164px;
	left: 52.1%;
	top: 28%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	position: absolute;
	top: 28%;
}

.contextframe {
	width: 249px;
	height: 164px;
	left: 62.4%;
	top: 28%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	position: absolute;
	top: 28%;
}

.cate {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.diff {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.writer {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.date {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.cate1 {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.diff1 {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.writer1 {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

.date1 {
	width: 250px;
	height: 41px;
	flex-grow: 0;
	font-family: GmarketSansMedium;
	font-size: 24px;
	line-height: 1.7;
	letter-spacing: 0.36px;
	text-align: center;
	color: #000;
}

#img2 {
	width: 104px;
	height: 40px;
	top: 47%;
	left: 61.5%;
	position: absolute;
}

.ingredientmenu {
	width: 700px;
	height: 110px;
	position: absolute;
	left: 7%;
	top: 54.4%;
	font-family: GmarketSansMedium;
	font-size: 29px;
	font-weight: bold;
	letter-spacing: -2.16px;
	text-align: center;
	color: #000;
}

textarea.ingredientcontent {
	position: relative;
	margin-top: 25%;
	left: 23%;
	top: 68.4%;
	box-sizing: border-box;
	border-radius: 25px;
	font-size: 15px;
	width: 1034px;
	outline-color: #0d3584;
	border-width: 3px;
	border-color: #0d3584;
	padding-top: 30px;
	padding-left: 10px;
	text-align: center;
	font-family: GmarketSansMedium;
}

.recipeimagesframes {
	width: 551px;
	height: auto;
	left: 23%;
	top: 28%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	position: absolute;
	top: 92%;
}

.recipeframes {
	width: 103px;
	height: auto;
	left: 49.3%;
	top: 28%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	position: absolute;
	top: 92%;
}

.recipeimages {
	left: 13.1%;
	top: 43%;
	width: 543px;
	height: 310px;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 25px;
	object-fit: cover;
	margin-bottom: 50px;
}

textarea.recipetext {
	left: 46.1%;
	top: 60.4%;
	box-sizing: border-box;
	border: solid 3px #0d3584;
	border-radius: 21px;
	font-family: GmarketSansLight;
	font-size: 18px;
	width: 536px;
	height: 310px;
	margin-bottom: 50px;
	vertical-align: middle;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-top: 50px;
	padding-left: 60px;
	word-break: break-all;
	text-align: center;
	font-family: GmarketSansLight;
}


.edit-btn {
	left: 64%;
	top: 47%;
	width: 66px;
	height: 37px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.edit-btn2 {
	left: 86%;
	top: 88%;
	width: 66px;
	height: 66px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border: 1px;
	border-radius: 100%;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	align-items: center;
	justify-content: center;
	position: fixed;
}

.edit-btn:hover {
	background-color: #2860ff;
	color: #fff;
	transform: translateY(-7px);
}

.edit-btn2:hover {
	background-color: #2860ff;
	color: #fff;
	transform: translateY(-7px);
}

.del-btn {
	left: 68%;
	top: 47%;
	width: 66px;
	height: 37px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.del-btn2 {
	left: 90%;
	top: 88%;
	width: 66px;
	height: 66px;
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 100%;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	align-items: center;
	justify-content: center;
	position: fixed;
}

.del-btn2:hover {
	background-color: #ff2828;
	color: #fff;
	transform: translateY(-7px);
}

.del-btn:hover {
	background-color: #ff2828;
	color: #fff;
	transform: translateY(-7px);
}

.comment {
	box-sizing: border-box;
	border: solid 3px #0d3584;
	border-radius: 8px;
	font-size: 18px;
	width: 1038px;
	height: 64px;
	text-align: left;
	font-family: GmarketSansLight;
}

input.comment-button {
	width: 77px;
	left: 200%;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #0d3584;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	cursor: pointer;
	outline: none;
	align-self: right;
	margin-top: 10px;
	margin-left: 959px;
}

input.comment-writer {
	border-radius: 58px;
	font-size: 18px;
	color: white;
	background-color: #0d3584;
	width: auto;
	height: 38px;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
	font-family: GmarketSansMedium;
}

input.del-comment-button {
	margin-bottom: 10px;
	width: 77px;
	left: 200%;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background-color: #ff7d7d;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 8px 15px rgb(0 0 0/ 10%);
	cursor: pointer;
	outline: none;
	align-self: right;
	margin-top: -35px;
	margin-left: 248px;
}

input.comment-content {
	padding-left: 3%;
	border-radius: 3px;
	font-size: 18px;
	color: black;
	background-color: white;
	width: 189%;
	height: 100px;
	text-align: left;
	margin-top: 2px;
	font-family: GmarketSansLight;
}

.space {
	margin-left: 4%;
}