@charset "UTF-8";


.container2{
/*   border: 3px solid green; */
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 33%;
  width: 40%;
  height: 40%;
  margin: -50px 0 0 -50px;
  
}
/* .center{ */
/*   margin: auto; */
/*   width: 50%; */
/*   border: 3px solid green; */
/*   padding: 10px; */
/* } */
.imgs{
		margin:-50px -50px -50px -50px;
        border-radius: 50px;
        width:60%;
        height:60%;
        position: relative;
        top:35%;
        left:40%;
        box-shadow: 5px 5px 3px grey;
    }
    
 h1{
 text-align: center;
 }