@charset "UTF-8";
.imgs{
        border-radius: 30px;
    }
    
 .cate_ch{
        border-radius: 30px;
    }
    
    h5{
    font-family: Georgia, "Times New Roman", serif;
     font-weight: bold;
    }
    