@charset "UTF-8";

.search {
	position: absolute;
	left: 30%;
	top: 17%;
	width: 465px;
	height: 100px;
	background: white;
}

.search .search_text {
	position: absolute;
	left: 31%;
	top: 31%;
}

.search .search_text .inputsearch {
	border-style: none;
	border-bottom: 1px solid #CCC;
	color: #555;
}

.search .search_button {
	position: absolute;
	left: 100%;
	top: 37%;
	width: 465px;
	size: 350%;
	/* 	background-color:white; */
	transform: scale(1.1);
}

.boardwriteimg {
	position: fixed;
	left: 93%;
	top: 90%;
}

.cate_ko {
	position: absolute;
	left: 5%;
	top: 40%;
}

.cate_ko .koimg {
	border-radius: 15%;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.cate_ch {
	position: absolute;
	left: 23%;
	top: 40%;
}

.cate_ch .chimg {
	border-radius: 15%;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.cate_ja {
	position: absolute;
	left: 41%;
	top: 40%;
}

.cate_ja .jaimg {
	border-radius: 15%;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.cate_we {
	position: absolute;
	left: 59%;
	top: 40%;
}

.cate_we .weimg {
	border-radius: 15%;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.cate_no {
	position: absolute;
	left: 77%;
	top: 40%;
}

.cate_no .noimg {
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
	border-radius: 15%;
}

.cate_ko .h6a {
	height: 15px;
	font-weight: 900;
	font-size: 1rem;
}

.cate_ch .h6a {
	height: 15px;
	font-weight: 900;
	font-size: 1rem;
}

.cate_ja .h6a {
	height: 15px;
	font-weight: 900;
	font-size: 1rem;
}

.cate_we .h6a {
	height: 15px;
	font-weight: 900;
	font-size: 1rem;
}

.cate_no .h6a {
	height: 15px;
	font-weight: 900;
	font-size: 1rem;
}