@charset "EUC-KR";

.myinfoframe {
	position: relative;
    top: 50px;
    left: 15.5%;
}
.aboutme{
	top: 15%;
    position: absolute;
    width: 167px;
    height: 76px;
    left: 46%;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.id {
	position: absolute;
	width: 300px;
	height: 38px;
	left: 510px;
	top: 180px;
	background: #C4C4C4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;


	outline:2px solid #d50000;
	text-align: right;
}


.id_text {
	position: absolute;
    width: 198px;
    height: 25px;
    left: 510px;
    top: 150px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;

}

.password_text {
	    text-align: center;
    position: absolute;
    width: 73px;
    height: 25px;
    left: 510px;
    top: 243px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    position: absolute;
}

.password {
	    position: absolute;
    width: 300px;
    height: 38px;
    left: 510px;
    top: 267px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: none;
    /* background: transparent; */
    padding: 9px;
}

.repassword_text {
	position: absolute;
    width: 130px;
    height: 25px;
    left: 510px;
    top: 312px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.repassword {
	position: absolute;
    width: 300px;
    height: 38px;
    left: 510px;
    top: 338px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: none;
    /* background: transparent; */
    padding: 9px;
}

.email_text {
	position: absolute;
    width: 118px;
    height: 25px;
    left: 510px;
    top: 394px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.email {
	    position: absolute;
    width: 300px;
    height: 38px;
    left: 510px;
    top: 420px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    border: none;
    /* background: transparent; */
    padding: 9px;
}


.myrecipe {
	    position: absolute;
    width: 300px;
    height: 25px;
    left: 807px;
    top: 644px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    text-align: center;

}
input.change {
	position: absolute;
    width: 141px;
    height: 33px;
    left: 807px;
    top: 593px;
    ackground: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border: none;
    border-radius: 10px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.change_text {
	position: absolute;
	width: 71px;
	height: 25px;
	left: 669px;
	top: 577px;
	line-height: 25px;
	text-align:center;
	/* identical to box height */
	color: #000000;

}


input.delete_account {
	position: absolute;
    width: 150px;
    height: 38px;
    left: 956px;
    top: 499px;
    top: 591px;
    background: #FFA5A5;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    text-align: center;

}




@charset "UTF-8";
/* .login-form { */
/* 	width:300px; */
/* 	height:36px; */
/* 	color:black; */
/* 	line-height:36px; */
/* 	border-radius:3px; */
/* 	display: block; */
/* 	margin-left: auto; */
/* 	margin-right: auto; */
/* 	} */
/* 	img { display: block; margin: 0px auto; } */

	
/* 	.btn { */
/* 		border-radius: 4px; */
/* 	} */
.logo{
 	text-align:center;
 	height:280px;

}

img #mainlogo {
	width:150px;
	height:150px;  
	}
	
.joinform{
	display: flex;
	justify-content: center;
	align-items: center;
}
.info{
	float:left;
	width:300px;
	margin-left: 43%;
    position: relative;
	
}

.inputinfo{
	width:100%;
}

.btnJoin {
    background-color: #0c3461; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
}
.btnLogin{
	 background-color: #0c3461; /* Green */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    border-radius: 4px;
    width:100%;
    cursor: pointer;
}
